/*Blog color scheme Blue: #03a9f4 Orange: #f44e03 Light Gray: #E5EDF1 Dark Gray:#4c575d */

/*H1 header font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

#alert {
 background-color: #f44e03; 
 color: #FFF;
}

.btn {
 background-color: #f44e03; 
}

button a {
  color:#fff;
}

.button-collapse{
  color: #fff;
}

footer.page-footer{
  background-color: #f44e03;
  /*height: 100px;  */
}

h1 { 
  font-weight: 300;
  font-family: 'Montserrat';
}

h2{
  font-weight: 200;
}

h3 {
  font-weight: 100;
  color: #f44e03;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}

.input-field label {
  color: #03a9f4;
}

.material-icons{
  color: #f44e03;   
}
nav {
  background-color: #03a9f4;
  height: 150px; 
}

p {
  color: #4c575d;
}
 
.page-footer{
  background-color: #f44e03;
}

.pagination li.active {
  background-color: #f44e03;
}

.parallax-container {
  height: 150px;
}

.slider .indicators .indicator-item.active {
  background-color: #f44e03;
}

#timestamp {
  color: #E5EDF1;
  font-style: italic;
}

#timestamp:hover {
  color: #4c575d;
  font-style: bold;
}