/*Blog color scheme Blue: #03a9f4 Orange: #f44e03 Light Gray: #E5EDF1 Dark Gray:#4c575d */
#alert {
   background-color: #f44e03 !important; 
   color: #FFF !important;
}
.btn {
   background-color: #f44e03 !important; 
}

.container {
    background-color: #E5EDF1;
}

h1 {
    font-weight: 200px;
}
h3 {
    color: #f44e03;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field label {
    color: #03a9f4 !important;
}

.material-icons{
    color: #f44e03 !important;   
}
nav {
    background-color: #03a9f4 !important;
    height: 150px !important; 
}

p {
  color: #4c575d !important;
}
.pagination li.active {
    background-color: #f44e03 !important;
}

